<div>
  <ngx-skeleton-loader
    [theme]="{
      height: '70px',
      cursor: 'pointer',
      marginBottom: '-5px',
      borderBottom: '1px solid #E5E7EB'
    }"
  >
  </ngx-skeleton-loader>
  <ngx-skeleton-loader
    [theme]="{
      height: '56px',
      cursor: 'pointer',
      marginBottom: '-5px',
      borderBottom: '1px solid #E5E7EB'
    }"
  >
  </ngx-skeleton-loader>
  <ngx-skeleton-loader
    count="5"
    [theme]="{
      height: '100px',
      cursor: 'pointer',
      marginBottom: '-5px',
      borderBottom: '1px solid #E5E7EB'
    }"
  >
  </ngx-skeleton-loader>
</div>
