<div class="div-container grid grid-cols-2 gap-8 justify-between">
  <form
    [formGroup]="form"
    #f="ngForm"
    class="flex flex-col gap-4 items-start max-w-[500px]"
  >
    <mat-form-field class="w-full">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput />
      <mat-error *ngIf="title?.invalid && title?.touched">
        {{ getErrorMessage(title, "Title") }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category" required>
        <mat-option value=""></mat-option>
        <mat-option *ngFor="let c of categories$ | async" [value]="c.key">{{
          c.name
        }}</mat-option>
      </mat-select>

      <mat-error *ngIf="category?.invalid && category?.touched">
        {{ getErrorMessage(category, "Category") }}
      </mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="always" class="w-full max-w-[200px]">
      <mat-label>Price</mat-label>
      <input
        formControlName="price"
        matInput
        type="number"
        class="example-right-align"
        placeholder="0"
        required
        [min]="0.05"
      />
      <span matTextPrefix>$&nbsp;</span>
      <!-- <span matTextSuffix>.00</span> -->
      <mat-error *ngIf="price?.invalid && price?.touched">
        {{ getErrorMessage(price, "Price") }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Image URL</mat-label>
      <input formControlName="imageUrl" matInput required url />
      <mat-error *ngIf="imageUrl?.invalid && imageUrl?.touched">
        {{ getErrorMessage(imageUrl, "ImageUrl") }}
      </mat-error>
    </mat-form-field>
  </form>

  <mat-card class="example-card max-w-[500px]">
    <div class="flex justify-center align-middle min-h-[200px] w-full">
      <h4 *ngIf="!imageUrl?.value">Image Of Product</h4>
      <img
        mat-card-image
        [src]="imageUrl?.value"
        alt="Image Of Product"
        class="w-full h-full"
        *ngIf="imageUrl?.value"
      />
    </div>

    <mat-card-header>
      <mat-card-title>{{ title?.value || "Title*" }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h3>{{ price?.value || 0 | currency : "USD" : true }}</h3>
      <h3>{{ category?.value || "Category*" }}</h3>
    </mat-card-content>
    <mat-card-actions class="flex gap-2">
      <button
        *ngIf="!productId"
        mat-raised-button
        color="primary"
        (click)="create(f.value)"
      >
        Create
      </button>
      <button
        *ngIf="productId"
        mat-raised-button
        color="primary"
        (click)="update(f.value, productId)"
      >
        Update
      </button>
      <button
        *ngIf="productId"
        mat-raised-button
        color="warn"
        (click)="delete(productId)"
      >
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
