<div class="flex flex-wrap">
  <mat-form-field class="min-w-[300px] grow">
    <mat-label>Search</mat-label>
    <input
      matInput
      placeholder="Search for products..."
      [(ngModel)]="search"
      name="search"
      (keyup)="searchChange()"
    />
  </mat-form-field>
  <mat-form-field class="grow">
    <mat-label>Sort By: </mat-label>
    <mat-select name="sortBy" [(ngModel)]="sortBy">
      <mat-option
        *ngFor="let option of sortingOptions"
        [value]="option.sortActive"
        [routerLink]="['/']"
        [queryParams]="{
          sortBy: option.sortActive,
          sortDirection: option.sortDirection
        }"
        queryParamsHandling="merge"
        >{{ option.label }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>

<mat-chip-listbox
  aria-label="Fish selection"
  #category
  *ngIf="categories$ | async as categories; else categoriesLoading"
>
  <mat-chip-option
    value=""
    [selected]="!categoryFilter"
    routerLink="/"
    [queryParams]="{
      category: null
    }"
    queryParamsHandling="merge"
    >All Categories</mat-chip-option
  >
  <mat-chip-option
    *ngFor="let category of categories"
    [value]="category.key"
    routerLink="/"
    [queryParams]="{
      category: categoryFilter === category.key ? null : category.key
    }"
    queryParamsHandling="merge"
    [selected]="categoryFilter === category.key"
    >{{ category.name }}</mat-chip-option
  >
</mat-chip-listbox>

<ng-template #categoriesLoading class="flex gap-4">
  <ngx-skeleton-loader
    count="5"
    [theme]="{
      'border-radius': '9999px',
      height: '32px',
      width: '120px',
      marginRight: '8px',
      cursor: 'pointer'
    }"
  />
</ng-template>
