<div class="div-container">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Customer Column -->
      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef>Cutstomer</th>
        <td mat-cell *matCellDef="let element">{{ element.shipping.name }}</td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">
          {{ getDateString(element.datePlaced) }}
        </td>
      </ng-container>

      <!-- View Column -->
      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <a
            mat-raised-button
            color="primary"
            [routerLink]="['/admin/orders/', element.key]"
            >View</a
          >
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
